<nb-layout>
  <nb-layout-header fixed>
    <nb-layout-column>
      <img
        style="width: 10rem;"
        src="https://www.nicepng.com/png/full/269-2693961_i-am-learning-more-about-grpc-and-http.png"
        alt=""
      />
    </nb-layout-column>

    <nb-layout-column>
      <h2>Chat Angular Client</h2>
    </nb-layout-column>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
